<h1>Welcome to Stock Tracker APP </h1>
<div>Add you favortie Stocks into a Comprehensive list to Track </div>
<div class="card portfolio-card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= link_to 'My PortFolio', my_portfolio_path%></h6>
    <p class="card-text">Make a Comprehensive list of your favortie stocks</p>
  </div>
</div>

<div class="card friends-card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= link_to 'My Friends', my_friends_path%></h6>
    <p class="card-text">Connect with Friends here</p>
  </div>
</div>

