// @import 'bootstrap/dist/css/bootstrap'

// .navbar-brand {
//     font-size: 3rem;
// }
.portfolio-card{
    background-color: rgb(87, 117, 172);
}
.friends-card{
    margin-top: 20px;
    background-color: rgb(124, 134, 154);
}

.search-area {
    padding-top: 20px;
}

#results {
    padding-top: 20px;
    margin-top: 50px;
}

.logout-button{
    margin-right: 10px;
}

.badge-secondry{
    color: red;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}