// @import 'bootstrap/dist/css/bootstrap'

// .navbar-brand {
//     font-size: 3rem;
// }

.search-area {
    padding-top: 20px;
}

#results {
    padding-top: 20px;
    margin-top: 50px;
}

.logout-button{
    margin-right: 10px;
}

.badge-secondry{
    color: red;
}

.user-name{
    margin-top: 3.5%;
    padding-right: 5px;
}